.html {
  background-color: #87CEFA
}
.input {
  margin:20px;
  text-align: center;
  width: 100%;
}

#app {
  background-color: powderblue;
  font-style: Arial;
}

.h1 {
  text-align: center;
}

.bookz {
    width: 120px;
    height: 120px;
    margin: 20px;
    position: relative;
    float: left;
    border: 2px solid #05365b;
    background: #fca1cc;
}

.html {
  background-color: #87CEFA
}